@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[type=checkbox]:checked + span:before {
    content: '';
    background: #FA6166 center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACmSURBVHgBnZCxDcIwEEXvmwLKtHSwASswASOwQhZIbLMAK7AJK7BBOtzSISDk8KEQgWQcJydZvv/l93060MB6uMKAoJnYYgz40clwADRKmqvTi6HgZL6zqF158HoLppO6YY2lvaSA0svPG2kYtGqmfORKZyngW9/PRa6AfWe0E9SzJo+BrUf0dKVfPZkvX0bPYmAH/wmIgj9wKCAGBksC/Knk7nv7AsyHVFxpeuNHAAAAAElFTkSuQmCC') no-repeat;
    position: absolute;
    top: -2px;
    left: -0.5px;
    height: 20px;
    width: 18px;
    border-radius: 2px;
}
